.appContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timeline {
  flex:6;
  width: 100%;
}

.timeline > * {
  height: 100vh;
}

.sideBar {
  flex: 1;
  padding: 50px 20px 0;
  border-left: 1px solid #00000014;
}

.fixedRightSideBar {
  position: absolute;
  bottom: 16px;
  right: 16px;
}


.timelineContainer {
  position: relative;
  flex: 6;
}
